# remove()_set

* Remove() method remove first occurrence value

In [23]:
def remove_from_set(set,element_to_remove):
    
    if element_to_remove in set:
        set.remove(element_to_remove)
        print(f'Element{element_to_remove} removed successfully.')
    else:
         print(f'Element{element_to_remove} not found in the set.')

In [24]:
set = {'raju','ramu','satish','suresh','sai'}
remove_from_set(set,'ramu')
print(set)

Elementramu removed successfully.
{'sai', 'raju', 'suresh', 'satish'}

In [25]:
remove_from_set(set,'sai')
print(set)

Elementsai removed successfully.
{'raju', 'suresh', 'satish'}

# symmetric_difference_()set

* Return the symmetric difference of two sets as a new set.



* All elements that are in exactly one of the sets.

In [26]:
def symmetric_difference(set1,set2):
    
    ''''
    Function to find the symmetric difference between two sets.
    
    Args: 
    set1 : The first set
    set2 : The second set
    
    returns:
      A new set containing elements that are in either set1 or set2,but not in both.
    '''
    return set1.symmetric_difference(set2)

In [27]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8}
set1.symmetric_difference(set2)

set = (set1.symmetric_difference(set2))
print(set)

{1, 2, 3, 7, 8}

# difference()_set

* Return the differences of two or more sets as a new set.
* All the elements that are in the sets but not the others

In [28]:
def difference(set1,set2):
    '''
    Function to find the difference between two sets.
    
     Args: 
    set1 : The first set
    set2 : The second set
    
    returns:
      A new set containing elements that are in either set1 but not in set2.
    '''
    return set1.difference(set2)

In [29]:
set1 = {10,11,12,13,14}
set2 = {13,14,15,16,17}
set1.difference(set2)

set = (set1.difference(set2))
print(set)

{10, 11, 12}

In [30]:
set1 = {10,11,12,13,14}
set2 = {13,14,16,17,18}
set1.difference(set2)

set = (set2.difference(set1))
print(set)

{16, 17, 18}

# pop()_set

In [11]:
def custom_pop_set(my_set):
    '''
    Removes and return an arbitrary element from the set.
    
    Args:
        my_set (set) : The set from which the element will be removed.
        
    Returns:
        The popped element.
    '''
    
    if not my_set:
        raise KeyError('pop from an empty set')
    else:
        popped_element = my_set.pop()
        return popped_element

In [12]:
my_set = {1,2,3,4,5}
popped_value = custom_pop_set(my_set)

print(f'Popped Element: {popped_value}')
print(f'Update Set: {my_set}')

Popped Element: 1
Update Set: {2, 3, 4, 5}

# intersection_update_()set

In [20]:
def custom_intersection_update_set(set1,set2):
    '''
    Update set1 with the intersection of set1 and set2.
    
    Args:
        set1 (set): The set to be updated
        set2 (set or iterable): The set or iterable used for the intersection.
        
    Returns:
        None (modifies set1 in-place).
    '''
    
    set1.intersection_update(set2)

In [21]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

custom_intersection_update_set(set1,set2)

print(f'Updated Set1 after intersection: {set1}')

Updated Set1 after intersection: {3, 4, 5}

# issuperset()

In [31]:
def custom_issuperset(set1,set2):
    '''
    Check if set1 is a suoerset of set2.
    
    Args:
        set1(set): The set to be checked.
        set2(set): The set to be checj against.
        
    Returns:
        bool: True if set1 is a superset of set2,False otherwise.
    '''
    return set1.issuperset(set2)

In [32]:
set1 = {1,2,3,4,5}
set2 = {3,4}
result = custom_issuperset(set1,set2)

print(f'Is set1 a superset of set2? {result}')

Is set1 a superset of set2? True