# FLOW CONTROL

1 Conditional Statements : if,elif,else
      
2 Using loops/iterative statements : for,while
    
3 Transfer statements : break,continue,pass

# CONDITIONAL STATEMENTS

1.if

2.elif

3.else

1.if condition : satisfy

    #code (decision)
    
2.elif condition : satisfy

    #code (decision)
    
3.else : satify

    #code (decision)

In [1]:
# if you prepare well,you will get good job
# if user input is yes then "you will get a good job",Otherwise prepare well

In [7]:
'no' == 'yes'

False

In [8]:
'yes' == 'yes'

True

In [10]:
prep = input("Are you preparing well : " )

if prep=="Yes":
    print("You will get a good job")
else:
    print("Prepare well")

Are you preparing well : Yes
You will get a good job

In [16]:
a = 100
b = 200
if a > b:
    print("a is greater")
else:    
    print("b is greater")

b is greater

In [18]:
a = 250
b = 200
if a > b:
    print("a is greater")
else:
    print("b is greater")

a is greater

In [19]:
num1 =int(input("Enter a number : "))
num2 =int(input("Enter a another number : "))

if num1>num2:
    print('num1 is greater')
else: 
    print('num2 is greater')

Enter a number : 45
Enter a another number : 56
num2 is greater

In [20]:
mail = input("Enter your mail ID: ")
if mail.endswith("@gmail.com"):
    print("It is valid mail ID")
else:
    print("Invalid mail ID")

Enter your mail ID: rk@gmail.com
It is valid mail ID

In [21]:
mail

'rk@gmail.com'

In [1]:
num = 4

In [2]:
num % 2 == 0

True

1.Basic if statement

In [5]:
age = int(input("enter your age"))

if age >= 18:
    print("you are an adult")

enter your age18
you are an adult

2.with if-else

In [4]:
age =int(input("enter your age:: "))

if age >= 18:
    print("you are adult")
else:
    print("you are teenager")

enter your age:: 13
you are teenager

In [9]:
age = int(input("enter your age:: "))

if age >= 18:
    print("you are adult")
elif age <= 0:
    print("enter valid age")
else:
    print("you are teenager")

enter your age:: -100
enter valid age

Ask user to enter temperature..if temp > 30 then say it is hot otherwise sayit is cool

In [13]:
temp = int(input("enter temperature:: "))

if temp > 30:
    print("it is too hot")
else:
    print("it is cool")

enter temperature:: 40
it is too hot

# GRADE CALCULATOR

In [ ]:
Criteria :
1.if marks between 85-100 then "A" grade
2.if marks between 65-85 then "B" grade
3.if marks between 50-65 then "C" grade
4.if marks between 35-50 then "D" grade
5.if marks between less than 35 "Fail"

In [ ]:
marks >= 85 and marks <= 100 -"A"
marks >= 65 and marks < 85 -"B"
marks >= 50 and marks < 65 -"C"
marks >= 35 and marks <50 -"D"
marks < 35 -"Fail"

In [3]:
marks = int(input("enter your marks:: "))

if(marks >= 85) and (marks <= 100):
    print("A grade")
elif(marks >= 65) and (marks < 85):
    print("B grade")
elif(marks >= 50) and (marks < 65):
    print("C grade")
elif(marks >= 35) and (marks <50):
    print("D grade")
elif(marks < 100) or (marks > 0):
    print("enter valid marks")
else:
    print("Fail")

enter your marks:: 90
A grade

In [4]:
batch = ["satish","mansoor","suresh","ramesh","sunil","rajesh","santhosh"]

In [5]:
type(batch)

list

In [6]:
"nani" in batch

False

In [7]:
"satish" in batch

True

In [9]:
if "satish" in batch:
    print("he attended class")
else:
    print("he not attended class")

he attended class

# Website login

Signup/Register

In [1]:
mail = input("Enter your mail ID:: ")
pas = input("Enter your password: ")
mobile = int(input("Enter mobilr number: "))

Enter your mail ID:: rk@gmail.com
Enter your password: rk@123
Enter mobilr number: 9542334476

login/signin

In [2]:
mailID = input("Enter your mailID to login:: ")
password = input("Enter your password: ")

if (mail == mailID) and (pas == password):
    print("login successfully")
else:
    print("invalid credentials")

Enter your mailID to login:: rk@gmail.com
Enter your password: rk@123
login successfully

# Ternary Operator

In [1]:
temp = int (input("Enter temperature: "))

if temp > 30:
    print("it is hot")
else:
    print("it is cool")

Enter temperature: 34
it is hot

In [ ]:
x  =  firstvalue   if condition   else   secondvalue

In [2]:
temp = int (input("Enter temperature: "))

x  =  "it is hot"   if (temp>30)    else    "it is cool" 
print(x)

Enter temperature: 65
it is hot

In [5]:
num = int(input("Enter a number: "))

"Even"  if (num % 2 == 0) else "Odd"

Enter a number: 9

'Odd'

# Tax Calculator

income =

In [ ]:
Rs 0 to Rs 3 lakhs - 0% 
Rs 3 to Rs 6 lakhs - 5%
Rs 6 to Rs 9 lakhs- 10%
Rs 9 to Rs 12 lakhs - 15%
Rs 12 to Rs 15 lakhs - 20%
above Rs 15 lakhs - 30%

In [3]:
income = float(input("enter annual income(lakhs): "))

enter annual income(lakhs): 3.5

In [8]:
income = float(input("enter annual income(lakhs): "))

if (income <= 3) and (income > 0):
    print("no tax")
elif (income <= 6) and (income > 3):
    print("0.05% tax")
elif(income <= 9) and (income > 6):
    print("0.10% tax")
elif(income <= 12) and (income > 9):
    print("0.15% tax")
elif(income <= 15) and (income > 12):
    print("0.20% tax")
elif(income < 0):
    print("enter valid number")
else:
    print("0.30")

enter annual income(lakhs): 12
0.15% tax

# Nested if

if inside if

## Ticket vendor machine

In [ ]:
a < 10 - free-if "girl" chocolate

a > 10 - 50

In [13]:
age = int(input("enter your age: "))

if age < 10:
    
    gender =input("what is your gender girl or boy: ")
    
if gender == "girl":
    print("take a chocolate")
else:
    print("pay 50 rupees")

enter your age: 9
what is your gender girl or boy: boy
pay 50 rupees

## first method

In [17]:
num = int(input("enter a number: "))
if num % 2 == 0:
    print("even")
else:
    print("odd")

enter a number: 10
even

## second method

In [22]:
num = int(input("enter a number: "))
"even"  if (num % 2) == 0  else "odd"

enter a number: 10

'even'

## third method

In [27]:
num = int(input("enter a number: "))
("odd","even") [num % 2 == 0]

enter a number: 10

'even'