# For loop

### Iterative statement

1) If we want to execute a group of statements multiple times then we should go for Iterative statement

2) Python supports 2 types of Iterative statements 
     * for loop
     * while loop
     
3)Iterative means is  more than one

range (start,stop,[step])

* Range datatype represents a sequence of numbers
* The element present in range datatype are not modifiable that is range datatype is immutable

In [ ]:
range(1,10)

In [ ]:
list(range(1,10))

In [ ]:
list(range(1,10,2))

In [ ]:
list(range(1,10,-1))

In [ ]:
tuple(range(10))

In [ ]:
set(range(1,30,3))

# For loop

* If we want to run multiple/single statement for multiple times
*  for loop stop until if goes for last element

In [ ]:
for i in "Innomatics":
    print(i)

In [ ]:
for i in "Innomatics":
    print(i + " am" )

In [ ]:
var = list(range(1,10))
var

In [ ]:
for i in var:
    print(i)

In [ ]:
# Even

In [ ]:
for i in var:
    if i % 2 == 0:
        print(i)

In [ ]:
for i in var:
    if i % 2 != 0:
        print(i)

In [ ]:
n = ("Hello","Hi","bye")

In [ ]:
for i in n:
    print(i)

creat a list of fruits and print the fruits which starts with vowel(a,e,i,o,u)

In [8]:
name = ['apple','banana','elephant','onion','ant','grapes']

In [9]:
for i in name:
    print(i)

apple
banana
elephant
onion
ant
grapes

In [10]:
for i in name:
    if i.startswith('a'):
        print(i)

apple
ant

In [11]:
for i in name:
    if i.startswith(('a','e','i','o','u')):
        print(i)

apple
elephant
onion
ant

In [16]:
a = [1,2,3,4,5,6]

In [17]:
for i in a:
    print(i * 4)

4
8
12
16
20
24

In [18]:
fruits = ["banana","apple","grapes","orange"]

In [19]:
for i in fruits:
    if i.endswith('a'):
        print("bye")
    else:
        print("hi")

bye
hi
hi
hi

1)create a dictionary atleast five fruits and with their prices

In [20]:
fruits = {"apple":30,"banana":40,"grapes":50,"kiwi":60,"orange":70}

In [21]:
fruits.keys()

dict_keys(['apple', 'banana', 'grapes', 'kiwi', 'orange'])

In [22]:
3 * fruits.get("apple") + 2 * fruits.get("orange")

230

add a 'fruit' for every available fruit

In [23]:
fruits.keys()

dict_keys(['apple', 'banana', 'grapes', 'kiwi', 'orange'])

In [24]:
for i in fruits.keys():
    print(i)

apple
banana
grapes
kiwi
orange

In [25]:
for i in fruits.keys():
    print(i + ' fruit')

apple fruit
banana fruit
grapes fruit
kiwi fruit
orange fruit

In [26]:
fruits.values()

dict_values([30, 40, 50, 60, 70])

In [27]:
sum(fruits.values())

250

In [28]:
len(fruits.values())

5

In [29]:
avg_price = sum(fruits.values()) / len(fruits.values())

In [30]:
avg_price

50.0

which fruit is contaning less than 5 characters

In [31]:
fruits.keys()

dict_keys(['apple', 'banana', 'grapes', 'kiwi', 'orange'])

In [32]:
for i in fruits.keys():
    if len(i) < 5:
        print(i)

kiwi

1. ask the user enter a number and find the sum of all numbers in the given range

In [33]:
n = int(input("enter a number: "))
sum(range(0,n))

enter a number: 10

45

In [34]:
n = int(input("enter a number: "))
val = list(range(0,n))

enter a number: 10

In [35]:
val

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
sum(val)

45

In [37]:
n = int (input("enter a number: "))
for i in range(n):
    print(i)

enter a number: 10
0
1
2
3
4
5
6
7
8
9

In [38]:
n = int(input("enter a number: "))

total = 0
for i in range(n+1):
    total = total + i

enter a number: 10

In [39]:
print(total)

55

In [40]:
alph = [chr(65+i) for i in range(0,26)]

In [41]:
alph

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [42]:
for i in alph:
    print(i)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [43]:
alph = [chr(65+i) for i in range(0,26)]

In [44]:
vowel = []
cons = []

In [46]:
for i in alph:
    if i in ['A','E','I','O','U']:
        vowel.append(i)
    else:
        cons.append(i)

In [47]:
vowel

['A', 'E', 'I', 'O', 'U', 'A', 'E', 'I', 'O', 'U']

In [48]:
cons

['B',
 'C',
 'D',
 'F',
 'G',
 'H',
 'J',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'B',
 'C',
 'D',
 'F',
 'G',
 'H',
 'J',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [74]:
a = list(range(1,11))

In [75]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
for a in range(1,11):
    print("2",'*',a,'=',a*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [142]:
for i in range(2,3):
    for j in range(1,11):
        print(f'{i} * {j} = {i * j}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
1.create a list of atleast 5 friends
2.using for loop output show as

"Rk is my best friend"
"Gopi is my best friend"

In [51]:
friends = ["Rk","Ravi","Satish","Gopi","Sai"]

In [60]:
for i in friends:
    print(i + " is my best friend")

Rk is my best friend
Ravi is my best friend
Satish is my best friend
Gopi is my best friend
Sai is my best friend

In [147]:
[i for i in friends]

['Rk', 'Ravi', 'Satish', 'Gopi', 'Sai']

In [149]:
[i + ' is my best friends' for i in friends]

['Rk is my best friends',
 'Ravi is my best friends',
 'Satish is my best friends',
 'Gopi is my best friends',
 'Sai is my best friends']

### Nested for loop

In [115]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} * {j} = {i * j}')
    print('\n')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### List comprehension

write a python code using for loop to find the values from 100 to 120

In [144]:
list1 = [ ]
for i in range(100,120):
    list1.append(i)

In [145]:
list1

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [146]:
[i for i in range(100,120)]

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

## List comperhension and ternary operator

In [151]:
list3 = list(range(3,23))

In [152]:
list3

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [154]:
[i * 2 for i in list3]

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]

In [156]:
[i for i in list3 if i%3 == 0]

[3, 6, 9, 12, 15, 18, 21]

In [157]:
a = ['a','e','i','o','u']
name = 'innomatics reasearch labs'

In [158]:
for i in name:
    if i not in a:
        print(i)

n
n
m
t
c
s

r
s
r
c
h

l
b
s

In [159]:
a

['a', 'e', 'i', 'o', 'u']

In [160]:
name

'innomatics reasearch labs'

In [162]:
[i for i in name if i not in a]

['n',
 'n',
 'm',
 't',
 'c',
 's',
 ' ',
 'r',
 's',
 'r',
 'c',
 'h',
 ' ',
 'l',
 'b',
 's']

write a python code to genrate ood number from 500 to 550 without using step but should use list comperhension

In [163]:
list1 = list(range(500,550))

In [164]:
list1

[500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549]

In [167]:
[i for i in list1 if i % 2 != 0]

[501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549]